<header class="header">
  <div class="container position-relative">
    <div class="header__logo d-none d-md-block">
      <img src="assets/filed-logo-01@2x.png" alt="Logo">
    </div>
    <img class="ellipse position-absolute d-none d-md-block" src="assets/bluecloud.svg" alt="">
    <img class="repeat position-absolute d-none d-md-block" src="assets/Repeat Grid 2.svg" alt="">
    <img class="bluegrid position-absolute d-none d-md-block" src="assets/blue-grid.svg" alt="">
    <img class="orange-curve position-absolute d-md-none" src="assets/offer-orange-curve.svg" alt="">
    <img class="three-repeat position-absolute d-md-none" src="assets/orange-three-repeat.svg" alt="">
    <div class="row mt-md-3">
      <div class="col-md-6">
        <h1 class="header__heading mt-md-3">
           Book a demo today <br class="d-md-none"/>  and <br class="d-none d-md-block"/> get two weeks for <span>free. </span>Why?
        </h1>
        <h2 class="header__info mt-2 mt-md-4">
          Because Our AI-Powered Software Will Exceed Your Marketing Goals.
        </h2>
        <div class="header__image d-flex justify-content-center">
          <img class="artboard d-none d-md-block" src="assets/Artboard 1@2x.png" alt="">
        </div>
        <img class="tiny position-absolute d-none d-md-block" src="assets/tiny-cloud.svg" alt="">
        <img class="mid position-absolute d-none d-md-block" src="assets/mid-cloud.svg" alt="">
        <img class="large position-absolute d-none d-md-block" src="assets/large-cloud.svg" alt="">
      </div>
      <div class="col-md-6 px-md-4">
        <div class="header__form pr-md-2 pl-md-5">
          <div class="main-form px-md-5 text-center">
            <h3 class="main-form__header font-weight-bold d-none d-md-block">We’ll be in touch to get your trial set up.</h3>
            <small class="d-none d-md-block">Fill Out Form.</small>
            <span class="d-md-none">Fill out details</span>
            <form class="mt-2">
              <div class="d-flex justify-content-between mb-3">
                <input class="form-input form-input--half" type="text" placeholder="First Name *">
                <input class="form-input form-input--half" type="text" placeholder="Last Name *">
              </div>
              <div class="d-flex mb-3">
                <input class="form-input" type="text" placeholder="Work Email *">
              </div>
              <div class="d-flex justify-content-between mb-3">
                <input class="form-input" type="text" placeholder="Monthly Advertising Budget *">
              </div>
              <div class="d-flex justify-content-between mb-3">
                <input class="form-input" type="text" placeholder="Phone Number *">
              </div>
              <button class="btn btn-block">GET FREE TRIAL</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="offer position-relative d-flex justify-content-center align-items-center">
  <img class="half-ellipse position-absolute d-none d-md-block" src="assets/bluecloud.svg" alt="">
  <img class="orange-curve position-absolute d-none d-md-block" src="assets/offer-orange-curve.svg" alt="">
  <img class="bluegrid position-absolute d-none d-md-block" src="assets/blue-grid.svg" alt="">
  <img class="bluegrid-2 position-absolute d-none d-md-block" src="assets/blue-grid.svg" alt="">
  <div class="position-relative">
    <h3 class="offer__text">
      Our Offer: Intelligent Automation. Real-time Insights. Unparalleled Results.
    </h3>
    <img class="facebook icon position-absolute d-md-block" src="assets/facebook.svg" alt="">
    <img class="google-plus icon position-absolute d-md-block" src="assets/google-plus.svg" alt="">
    <img class="instagram icon position-absolute d-md-block" src="assets/instagram-icon.svg" alt="">
  </div>
</section>
<section class="benefits position-relative">
  <img class="three-repeat position-absolute d-md-none" src="assets/blue-three-repeat.svg" alt="">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-7 d-flex align-items-center">
        <h4 class="benefits__header">The <span>Benefits</span> of using Filed</h4>
      </div>
      <div class="col-md-5 d-flex flex-column justify-content-center">
        <div class="mb-4 d-flex">
          <img class="benefits__check mr-3 align-self-start" src="assets/check.svg" alt="check-icon">
          <span class="benefits__text">Ability to scale using Dexter, our AI-powered marketing genius.</span>
        </div>
        <div class="mb-4 d-flex">
          <img class="benefits__check mr-3 align-self-start" src="assets/check.svg" alt="check-icon">
          <span class="benefits__text">
            Client Success Manager who will optimize your Facebook ad
            campaigns and focus on driving the best possible results for you.
          </span>
        </div>
        <div class="mb-4 d-flex">
          <img class="benefits__check mr-3 align-self-start" src="assets/check.svg" alt="check-icon">
          <span class="benefits__text">This is a limited time offer only.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="container h-100">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center h-100">
      <div class="testimonials__record">
        <div class="testimonials__quote d-flex align-items-start mb-4">
          <img class="mr-5 mt-1" src="assets/quote.svg" alt="quote">
          <span>"It surpassed our expectations"</span>
        </div>
        <div class="testimonials__text mb-4">
          <span>
            "Filed has completely surpassed our expectations.
            I will refer everyone I know. Filed is worth much
            more than I paid."
          </span>
        </div>
        <div class="testimonials__profile d-flex">
          <img src="assets/tania.jpg" alt="Tania Y.">
          <div class="testimonials__person d-flex flex-column justify-content-center">
            <h5>Tania Y.</h5>
            <span>Flexi Content @Hello</span>
          </div>
        </div>
      </div>
      <div class="testimonials__record">
        <div class="testimonials__quote d-flex align-items-start mb-4">
          <img class="mr-5 mt-1" src="assets/quote.svg" alt="quote">
          <span>“The essential marketing tool”</span>
        </div>
        <div class="testimonials__text mb-4">
          <span>
            “Filed is the most valuable business resource we have EVER purchased.
            I was amazed at the quality of filed. We were treated like royalty.”
          </span>
        </div>
        <div class="testimonials__profile d-flex">
          <img src="assets/jack.jpg" alt="Jack Francis">
          <div class="testimonials__person d-flex flex-column justify-content-center">
            <h5>Jack Francis</h5>
            <span>Manager @ Accidents Direct</span>
          </div>
        </div>
      </div>
      <div class="testimonials__record">
        <div class="testimonials__quote d-flex align-items-start mb-4">
          <img class="mr-5 mt-1" src="assets/quote.svg" alt="quote">
          <span>“Your company is truly upstanding”</span>
        </div>
        <div class="testimonials__text mb-4">
          <span>
            “The service was excellent.
            After using filed my business skyrocketed!
            It really saves me time and effort.”
          </span>
        </div>
        <div class="testimonials__profile d-flex">
          <img src="assets/dawna.jpg" alt="Dawna N.">
          <div class="testimonials__person d-flex flex-column justify-content-center">
            <h5>Dawna N.</h5>
            <span>Editor @ Museum of Typography</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer d-none d-md-block">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <span class="footer__copy">
        Copyright © 2020. All Rights Reserved.
      </span>
      <ul class="footer__nav mb-0 d-flex justify-content-between ml-auto">
        <li>HOME</li>
        <li>FEATURES</li>
        <li>TERMS</li>
        <li>PRIVACY</li>
        <li>CONTACT US</li>
      </ul>
      <div class="footer__social d-flex justify-content-between ml-5">
        <img src="assets/facebook-white.svg" alt="">
        <img src="assets/instagram-white.svg" alt="">
        <img src="assets/twitter-white.svg" alt="">
      </div>
    </div>
  </div>
</footer>
